name: Build ami via terraform

env:
  AWS_REGION: us-east-1  # Replace with your desired AWS region

on: 
  workflow_dispatch: # Allows manual triggering
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2.1.4
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Set up environment variables
      run: |
        gcloud compute zones list
        echo "GCP_PROJECT_ID=${{ secrets.GCP_PROJECT_ID }}" >> $GITHUB_ENV
        echo "GCP_ZONE=${{ secrets.GCP_ZONE }}" >> $GITHUB_ENV   
        
    - name: Terraform Apply 
      run: |
        cd build-vm-gcp
        terraform init
        terraform plan
        terraform apply -auto-approve   
