 - name: Build Image with Imagebuilder
        run: |
          docker run --rm \
            -v $(pwd):/workspace \
            -e GOOGLE_APPLICATION_CREDENTIALS=/workspace/sa-key.json \
            gcr.io/cloud-marketplace-tools/vm/imagebuilder:0.1.6 \
            build --config=/workspace/image-config.yaml
