name: Create GCP VM Image Via Image Builder

on: 
  workflow_dispatch:
  push:

jobs:
  create-gce-image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2.1.4
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Configure Docker for GCR
      run: |
        gcloud auth configure-docker --quiet

    - name: Build Image with Imagebuilder
      run: |
         docker run --rm \
           -v $(pwd):/workspace \
           -e GOOGLE_APPLICATION_CREDENTIALS=$GOOGLE_GHA_CREDS_PATH \
           -e BUCKET=for-image-builder \
           -e PROJECT=asi-ai \
           -e SOLUTION_NAME=vm-from-builder \
           -e KEY_FILE_PATH='${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}' \
           gcr.io/cloud-marketplace-tools/vm/imagebuilder:0.1.12 \
           build --config=/workspace/image-config.yaml
